<html>
    <h1>You win!</h1>
    <body>
        <h1>You picked: <%= playerChoice %></h1><br>
        <h1>Server picked: <%= serverChoice %></h1><br>
        <h2>Player wins: <%= playerWins %></h2><br>
        <h2>Server wins: <%= serverWins %></h2><br>
        <h2>Total games played: <%= gameCount %></h2><br>
        <br>
        <a href="/">Play again!</a>
    </body>
</html>